@model IEnumerable<RohrerDuffyAssignment2.Models.Project>

@{
    ViewData["Title"] = "Member";
}

<h2>Welcome, member.</h2>
<p>View your project and edit your activities</p>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Activities)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activities)
            </td>
            <td>
                <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
                <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.ProjectID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
